/*
 * Copyright (C) 2020 Frank Mertens.
 *
 * Distribution and use is allowed under the terms of the GNU General Public License version 3
 * (see CoreComponents/LICENSE-gpl-3.0).
 *
 */

#pragma once

#include <cc/View>
#include <cc/Cursor>

namespace cc {

class Flickable;

/** \class Control cc/Control
  * \ingroup ui
  * \brief %User interaction control
  * \todo implement proper multi-touch control logic (e.g. Application::pressedControls() -> Set<Control>, Control::trackingId: int), needed for instance for music application
  */
class Control: public View
{
public:
    /** Create a primordial control
      */
    Control();

    /** Create a new top-level control of size (\a width, \a height)
      */
    Control(double width, double height);

    /** Get a weak reference in \a self
      */
    Control &associate(Out<Control> self);

    /** Specific child control to cascade all input events to
      */
    Control delegate() const;

    /** Allow input events to cascade to any child control
      */
    bool cascade() const;

    bool hover() const { return me().hover(); } ///< %Pointer is currently hovering over this control
    bool pressed() const { return me().pressed(); } ///< %Control is currently pressed by the user
    bool focus() const { return me().focus(); } ///< %Control has text input focus

    Control &focus(bool newValue); ///< %Grab or release input focus

    Cursor cursor() const { return me().cursor(); } ///< Get cursor
    Control &cursor(Cursor newValue) { me().cursor(newValue); return *this; } ///< %Set cursor
    Control &cursor(Definition<Cursor> &&f) { me().cursor(move(f)); return *this; } ///< %Define cursor

    Point pointerPos() const { return me().pointerPos(); } ///< %Pointer position when hovered, pressed or clicked

    /** %Handle clicked event
      */
    Control &onClicked(Function<void()> &&f)
    {
        me().onClicked(move(f));
        return *this;
    }

    /** %Handle pointer clicked event
      */
    Control &onPointerClicked(Filter<PointerEvent> &&f) { me().onPointerClicked(move(f)); return *this; }

    /** %Handle mouse clicked event
      */
    Control &onMouseClicked(Filter<MouseEvent> &&f) { me().onMouseClicked(move(f)); return *this; }

    /** %Handle finger clicked event
      */
    Control &onFingerClicked(Filter<FingerEvent> &&f) { me().onFingerClicked(move(f)); return *this; }

    bool operator==(const Control &other) const { return Object::me == other.Object::me; }

protected:
    friend class Object;
    friend class Application;
    friend class Flickable;

    /** \brief Internal state
      */
    struct State: public View::State
    {
        State();

        void grabFocus();
        void releaseFocus();

        /** \copydoc Control::delegate()
          */
        virtual Control delegate() const;

        /** \copydoc Control::cascade()
          */
        virtual bool cascade() const { return delegate().isNull(); }

        virtual Rect textInputArea() const;
        virtual void onTextEdited(const String &text, int start, int length);
        virtual void onTextInput(const String &text);

        Control self() const { return Object::alias<Control>(this); }

        void onClicked(Function<void()> &&f) ///< \copydoc Control::onClicked()
        {
            onPointerClicked(
                [f](const PointerEvent &){ f(); return true; }
            );
        }

        Property<Cursor> cursor; ///< %Pointer cursor when the pointer is over this control

        Property<bool> hover; ///< \copydoc Control::hover()
        Property<bool> pressed; ///< \copydoc Control::pressed()
        Property<bool> pressedOverwrite;
        Property<bool> focus; ///< \copydoc Control::focus()

        Property<Point> pointerPos; ///< \copydoc Control::pointerPos

        Event<PointerEvent> onPointerClicked; ///< %Control has been pressed and released
        Event<MouseEvent> onMouseClicked; ///< %Control has been clicked by the mouse
        Event<FingerEvent> onFingerClicked; ///< %Control has been pressed and released by a touch input
    };

    explicit Control(State *newState):
        View{newState}
    {}

    static View::State *createState()
    {
        return new State;
    }

    explicit Control(CreateState onDemand):
        View{onDemand}
    {}

    bool operator==(State *other) const { return Object::me && &me() == other; }

    State &me() {
        return View::me().as<State>();
    }

    const State &me() const {
        return View::me().as<State>();
    }
};

} // namespace cc
