/*
 * Copyright (C) 2018 Frank Mertens.
 *
 * Distribution and use is allowed under the terms of the zlib license
 * (see cc/LICENSE-zlib).
 *
 */

#pragma once

#include <cc/ui/View>
#include <cc/ui/Cursor>

namespace cc {
namespace ui {

class Control: public View
{
    friend class Object;

public:
    Property< Ref<const Cursor> > cursor;

    Property<bool> hover;
    Property<bool> pressed;
    Property<bool> focus;

    bool gainTextInputFocus();

protected:
    Control(View *parent = 0);
    ~Control();
};

}} // namespace cc::ui
