/*
 * Copyright (C) 2018 Frank Mertens.
 *
 * Distribution and use is allowed under the terms of the zlib license
 * (see cc/LICENSE-zlib).
 *
 */

#pragma once

#include <cc/ui/View>
#include <cc/ui/Cursor>

namespace cc {
namespace ui {

class Control: public View
{
    friend class Object;

public:
    Property< Ref<const Cursor> > cursor;

    Property<bool> hover;   ///< mouse pointer is hovering over this control
    Property<bool> pressed; ///< the control is pressed by the user
    Property<bool> focus;   ///< this control holds text input focus

protected:
    friend class View;
    friend class Application;

    Property< Ref<Control> > delegate;

    Control(View *parent = 0);

    virtual Rect textInputArea() const;
    virtual void onTextEdited(String text, int start, int length);
    virtual void onTextInput(String text);
};

}} // namespace cc::ui
